name: PHP Coding Standards Fixer

on: push

jobs:
  phpcs:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: nanasess/setup-php@master
        with:
          php-version: 7.4

      - name: Install dependencies
        run: composer install --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

      - name: Execute PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix styling
