name: Tests (PostgreSQL)

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        php: ["8.1", "8.2", "8.3", "8.4"]

    name: "PHP ${{ matrix.php }}"
    runs-on: ubuntu-latest
    services:
      database:
        image: postgres:10.6
        env:
          POSTGRES_DATABASE: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
        ports: [5432]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: composer update --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist --prefer-stable

      - name: Execute tests
        run: vendor/bin/phpunit
        env:
          DB_CONNECTION: pgsql
          DB_HOST: 127.0.0.1
          DB_PORT: ${{ job.services.database.ports[5432] }}
          DB_DATABASE: postgres
          DB_USERNAME: postgres
          DB_PASSWORD: ""
